/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
*/

body {
  font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
  color: #333;
  padding-top: 60px;
  padding-bottom: 40px;
}

li {
  font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}

#splash {
  background-color: #ECECEC;
  height: 400px;
  border-bottom: 1px solid #DADADA;
  text-align: center;
  margin: 0 0 30px 0;
}

h1 {
  color: #454545;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: bold;
}

#splash h1 {
  margin: 30px 0 10px 0;
}

h2 {
  color: #454545;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: bold;
}

h3 {
  color: #333; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 18px; font-style: normal; font-weight: bold; line-height: 35px;
}

#welcome-signup { margin: 25px 0 0 20px; }
#welcome-signup .btn-large { display: block; font-size: 18px; }
#welcome-signup p { margin: 10px 0 0 0; text-align: center; color: #777; }

.nice-line { border-bottom: 1px solid #CECECE; margin: 10px 0 30px 0; }

#welcome-info p { color: #454545; font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px; font-style: normal; font-weight: normal; line-height: 20px;}
#welcome-info img { margin: 10px 0 0 10px; } 

#welcome-video { background-color: #F2F2F2; border: 1px solid #E4E4E4; padding: 20px 20px 20px 20px; margin: 0 0 20px 0; }
#welcome-video-img { width: 420px; height: 252px; }

.big-quote {
  color: #333;
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: 35px;
}

.quote-name {
  color: #777;
  font-size: 16px;
  margin: 5px 0 0 0;
}
