<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container nav-container">
      <a class="brand" href="#">MagicBooks</a>
      <a class="btn btn-primary" href="#contact">Login</a>

      <ul class="nav pull-right">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">Tour</a></li>
        <li><a href="#contact">Pricing & Sign Up</a></li>
        <li><a href="#contact">Why MagicBooks?</a></li>
        <li><a href="#contact">About</a></li>
      </ul>
    </div>
  </div>
</div>
