<meta charset="utf-8">
<title>MagicBooks<%= @title %></title>
<meta name="description" content="">
<meta name="author" content="">
<%= stylesheet_link_tag    "application" %>

<!--[if lt IE 9]>
  <script src="/assets/html5.js"></script>
<![endif]-->

<%= csrf_meta_tags %>
