<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render :partial => '/layouts/setup' %>
  </head>

  <body>

    <%= render :partial => '/layouts/nav' %>

    <div id="splash">
      <div class="container">
        <h1>Create Your Own Children's Books</h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span9">
          <h2>Artists compete to win your project.  You describe the pictures you need
            illustrated and watch the magic!</h2>
        </div>
        <div class="span3">
          <div id="welcome-signup">
            <a href="#" class="btn btn-large btn-success">Sign Up for Free</a>
            <p> No fees to get started! </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div id="welcome-line">&nbsp;</div>
      </div>
      <div class="row" id="welcome-info">
        <div class="span6">
          <div class="row">
            <div class="span1">
              <img src="/assets/art-icon.png"/>
            </div>
            <div class="span5">
              <h3>Post Detailed Artwork Instructions</h3>
              <p>
              MagicBooks artists love what they do.  They have a burning desire to
              express themselves through drawings</p>
              <p>
              Go ahead and describe exactly what you want drawn, they will make it happen!
              </p>
            </div>
          </div>
          <div class="row">
            <div class="span1">
              <img src="/assets/document-icon.gif"/>
            </div>
            <div class="span5">
              <h3>Multiple Artists Compete for You</h3>
              <p>
              Similar to popular logo creation sites, many different artists will give you
              their take on your book.
              </p>
              <p>
              If you don't like the first one, no problem, you'll have many choices.
              </p>
            </div>
          </div>
        </div>
        <div class="span6">
          <div id="welcome-video">
            <div id="welcome-video-img">
              &nbsp;
            </div>
            <p>
            Watch the 2-minute video explaining MagicBooks
            </p>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
