<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render :partial => '/layouts/setup' %>
  </head>

  <body>

    <%= render :partial => '/layouts/nav' %>

    <div id="splash">
      <div class="container">
        <%= yield :splash %>
      </div>
    </div>

    <div class="container">
      <%= yield :main %>
    </div>

    <div id="footer1">
      <div class="container">
        this is a mocked up website to illustrate the idea for a company like magicbooks
      </div>
    </div>
    <div id="footer2">
      <div class="container">
        you can reach the author by emailing oneone at gmail dot com
      </div>
    </div>

  </body>
</html>
